@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<RelatedContent, RelatedContentSettings>>
@{

    // Content data
    var relatedContent = Model.Content;

}
@{
    // Settings data
    var settings = Model.Settings;

    // Colour Settings
    var moduleId = $"id{settings.Key}";
    var BackgroundColour = $"#{settings.BackgroundColour}";
    var titleColour = $"#{settings.TitleColour}";
    var subtitleColour = $"#{settings.SubtitleTextColour}";
    var textColour = $"#{settings.TextContentColour}";
}

<style>
    .overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }
    #@moduleId h3{
        color: @titleColour;
    }
    #@moduleId
    .module-bg {
        background-color: @BackgroundColour;
    }
    #@moduleId h4 a {
        color: @subtitleColour;
    }
    #@moduleId p {
        color: @textColour;
    }
</style>
@if (relatedContent != null)
{
    <section id="@moduleId" class="related">
        <div class="module-bg">
            <div class="container pb-5 ">
                <div class="row">
                    <h3 class="pt-3">@relatedContent.Title</h3>
                    @foreach (var item in relatedContent.RelatedPages)
                    {
                        TextPage related = (TextPage)item;
                        var name = related.Name;
                        var abstractText = related.Summary;
                        var image = related.Thumbnail;
                        var link = related.Url();
                        <div class="col-md-4 p-4">
                            <div class="pb-3 thumbnail-holder">
                                <a href="@link">
                                    @if (image != null)
                                    {
                                        <img src="@image.MediaItem.GetCropUrl("Thumbnail")" alt="@image.MediaItem.Name" asp-append-version="true" />
                                    }
                                </a>
                            </div>
                            <div>
                                <h4 class="fst-italic"><a href="@link">@name</a></h4>
                                <p class="mb-0">@abstractText</p>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </section>

}
